#container{
    width: 100%;
/*padding-top: 100em;*/
}

.box{
    width: 35%;
    padding-top: 15%;
    border: 10px solid black;
    float: left;
}

#red{
    background-color: red;
}

#blue{
    background-color: blue;
}

#green{
    background-color: green;
}

#yellow{
    background-color: yellow;
}

button{
    width: 50%;
    height: 4em;
    align-content: center;
    background-color: firebrick;
    border: 10px solid white;
    font-size: x-large;
    alignment: center;
}

p {
    text-align: center;
    font-size: xx-large;
}